build/
dist/
*.spec
__pycache__/
*.pyc
*.pyo
venv/
.venv/
2049_config.json
2048plus_config.json
p_*.png
f_*.png
q_*.png
v2_*.png
hi_*.png
z_*.png
x_*.png
y_*.png
ab_*.png
crop_*.png
shot_*.png
preview_*.png
make_icon.py
Output/
*.exe
